# Real domain is replaced by test.domain.com
test.domain.com {
    tls /ssl/fullchain.pem /ssl/privkey.pem {
        protocols tls1.3
        curves x25519 secp256r1
    }

    encode zstd gzip

    # Serve robots.txt locally
    handle /robots.txt {
        root * /srv
        file_server
    }

    # Serve security.txt locally
    handle /.well-known/security.txt {
        root * /srv/
        file_server
    }
    redir /security.txt /.well-known/security.txt 308

    # Reverse proxy to Vaultwarden
    reverse_proxy vaultwarden:80 {
        header_up Host { host }
        header_up X-Real-IP { >CF-Connecting-IP }
        header_up X-Forwarded-For { >CF-Connecting-IP }
        header_up X-Forwarded-Proto { scheme }
    }

    # Security headers
    header {
        # HSTS with preload
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

        # nosniff is to prevent browsers from guessing file types for better security
        X-Content-Type-Options "nosniff"

        # Only send referrer info to same-origin links for privacy
        Referrer-Policy "same-origin"

        # Disable Google's FLoC tracking for better privacy
        Permissions-Policy "interest-cohort=()"

        # Remove the Server header to hide server info
        -Server
    }
}