services:
  dnsproxy:
    image: adguard/dnsproxy:latest
    container_name: dnsproxy
    network_mode: "host"
    command: >
      -l 127.0.0.1
      -p 5335
      -u https://family.cloudflare-dns.com/dns-query
      -b 1.1.1.1:53
      -b 1.0.0.1:53
      --cache
    restart: unless-stopped

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    network_mode: "host"
    environment:
      TZ: 'Europe/Luxembourg'
      FTLCONF_webserver_api_password: ${FTLCONF_webserver_api_password}
      FTLCONF_dns_listeningMode: 'all'
      FTLCONF_dns_reply_host_ipv4: '192.168.173.2'
      FTLCONF_dns_reply_host_force4: 'true'
      FTLCONF_dns_specialDomains_iCloudPrivateRelay: 'false'
      FTLCONF_ntp_sync_server: '192.168.173.1'
      FTLCONF_dns_upstreams: '127.0.0.1#5335'
      FTLCONF_webserver_port: '443s'
    volumes:
      - /home/pi/pihole/data/etc-pihole:/etc/pihole
    cap_add:
      - SYS_TIME
      - CHOWN
      - NET_BIND_SERVICE
      - SYS_NICE
    depends_on:
      - dnsproxy
    restart: unless-stopped